.Create{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Create h1{
  font-size: 4.5rem;
  font-family: 'Bebas Neue', sans-serif;
  color: #FFFFCC;
  text-shadow: 2px 2px #1A2B40, 4px 4px #1A2B40, 6px 6px #1A2B40;
  margin: 0;
  position: absolute;
  top: 0;
}

.Create form{
  display: flex;
  flex-direction: column;
  position: relative;
}

.Create-Form {
  position: relative;
  width: 90vw;
  height: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.Create input{
  width: 50px;
}

.Create-Name, .Create-Description, .Create-Images, .Create-Platforms, .Create-Released, .Create-Ratings, .Create-Genres{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

:is(.Create-Name, .Create-Description, .Create-Released, .Create-Images, .Create-Platforms, .Create-Genres, .Create-Ratings) label{
  color: #F5F5F5;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
:is(.Create-Name, .Create-Images, .Create-Platforms) input{
  width: 200px;
  height: 40px;
  border: none;
  border: 3px solid rgb(21,21,21);
  border-radius: 5px;
  background: #1B1C1E;
  color: #FF6600;
  text-align: center;
  vertical-align: top;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.3rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
:is(.Create-Name, .Create-Images, .Create-Platforms) input:focus{
  outline: none;
}
:is(.Create-Group-1,.Create-Images, .Create-Platforms, .Create-Genres, .Create-Ratings){
  position: relative;
  width: max-content;
  height: fit-content;
}

.Create-Group-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.Create-Description textarea{
  resize: none;
  width: 200px;
  height: 150px;
  text-align: left;
  direction: ltr;
  font-family: 'Exo 2', sans-serif;
  color: #FF6600;
  background: #1B1C1E;
  border: 3px solid rgb(21, 21, 21);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.Create-Description textarea:focus{
  outline: none;
}

.Create-Released label:nth-of-type(2){
  color: #FF6600;
  font-size: 1.5rem;
  border: 3px solid rgb(21, 21, 21);
  background: #1B1C1E;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Create-Images-Map{
  width: 200px;
  height: 120px;
  background: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.Create-Images-Map img{
  width: 100%;
  height: auto;
}

:is(.Create-Images, .Create-Platforms) button{
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background: #9FFC00;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@keyframes imageError{
  0%{
    transform: translateX(0);
    pointer-events: none;
  }
  25%{
    transform: translateX(10px);
  }
  50%{
    transform: translateX(-10px);
  }
  75%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0);
    pointer-events: all;
  }
}

.Create-Platforms-List{
  width: 200px;
  height: 250px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px black;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  box-sizing: border-box;
  overflow: auto;
}

.Create-Platforms-List label{
  font-size: 1.5rem;
  color: #FF6600;
  font-weight: normal;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2px;
  background: rgba(16, 16, 16, 0.5);
  text-shadow: 1px 1px 2px black, 2px 2px 2px black;
  transition: background 0.1s ease-in-out;
  border-bottom: 3px solid black;
}
.Create-Platforms-List label:nth-of-type(even){
  color: #FFAA66;
  background: rgba(0, 0, 0, 0.5);
}
.Create-Platforms-List label:last-of-type{
  border: none;
}

.Create-Platforms-List label:hover{
  background: rgb(255, 255, 204, 0.5);
}
.Create-Platforms-Selected{
  background: rgb(255, 255, 204) !important;
}

.Create-Genres-List{
  width: 200px;
  height: 250px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px black;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  box-sizing: border-box;
  overflow: auto;
}

.Create-Genres-List label{
  font-size: 1.5rem;
  color: #FF6600;
  font-weight: normal;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2px;
  background: rgba(16, 16, 16, 0.5);
  text-shadow: 1px 1px 2px black, 2px 2px 2px black;
  transition: background 0.1s ease-in-out;
  border-bottom: 3px solid black;
}
.Create-Genres-List label:nth-of-type(even){
  color: #FFAA66;
  background: rgba(0, 0, 0, 0.5);
}
.Create-Genres-List label:last-of-type{
  border: none;
}

.Create-Genres-List label:hover{
  background: rgb(255, 255, 204, 0.5);
}
.Create-Genres-Selected{
  background: rgb(255, 255, 204) !important;
}

.Create-Ratings label:not(:first-of-type){
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.Create-Ratings label span{
  color: #F5F5F5;
}
.Create-Ratings label:nth-of-type(2) span{
  color: #FF6600;
}


.Create-Ratings input{
  width: 100px;
  height: 30px;
  border: none;
  border: 3px solid rgb(21,21,21);
  border-radius: 5px;
  background: #1B1C1E;
  color: #FF6600;
  text-align: center;
  vertical-align: top;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.3rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.Create-Submit{
  width: 200px;
  margin: 0 auto;
  height: 40px;
  border-radius: 50px;
  background: #FFFFCC;
  color: #1B1C1E;
  font-family: 'Exo 2', sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}

.Create-Submit:active{
  background: rgba(255, 255, 204, 0.5);
}

.Create-Name-Error, .Create-Description-Error, .Create-Images-Error, .Create-Platforms-Error, .Create-Genres-Error, .Create-Ratings-Error{
  position: absolute;
  width: 200px;
  height: auto;
  background: #1B1C1E;
  transform: translateY(90%);
  border: 3px solid red;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
  color: #F5F5F5;
  font-size: 1.1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
.Create-Description-Error{
  transform: translateY(70%) translateX(110%);
}
.Create-Images-Error{
  transform: translateY(-100%);
}
.Create-Platforms-Error, .Create-Genres-Error{
  transform: translateY(-100%);
}
.Create-Ratings-Error{
  transform: translateY(-100%);
}

:is(.Create-Name, .Create-Images):hover input + :is(.Create-Name-Error, .Create-Images-Error){
  visibility: visible;
  opacity: 1;
}
.Create-Description:hover textarea + .Create-Description-Error{
  visibility: visible;
  opacity: 1;
}
:is(.Create-Platforms-List, .Create-Genres-List):hover + :is(.Create-Platforms-Error, .Create-Genres-Error){
  visibility: visible;
  opacity: 1;
}
.Create-Ratings:hover label:first-of-type + .Create-Ratings-Error{
  visibility: visible;
  opacity: 1;
}

.Create-Name-Error ul{
  padding-left: 20px;
  margin: 0;
}


.Create-NoError{
  visibility: hidden !important;
  opacity: 0 !important;
}

.Create-Submit-Disable{
  background: rgba(255, 255, 204, 0.5);
  cursor: not-allowed;
}