.ErrorNote-Username{
  font-size: 15px;
  background: #FF4136;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  color: #F5F5F5;
  position: absolute;
  visibility: hidden;
  top: 0%;
  z-index: 99;
  box-shadow: inset 0 0 0 2px black;
}

.ErrorNote-Username p{
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1) !important;
}
.ErrorNote-Username ul li{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1) !important;
}

.ErrorNote-Username-Valid{
  color: #8FFF4E;
}

.ErrorNote-Username-Animation{
  animation: errorPop 0.3s ease forwards;
}

@keyframes errorPop{
  from{
    visibility: visible;
    opacity: 0;
  }
  to{
    opacity: 1;
    visibility: visible;
  }
}